picture {
	width:
	height:
	background-color:
	background-image:
	background-position:
	background-repeat:
	border-width:
	border-style:
	border-color:
}
grid {
	top:
	left:
	width:
	height:
	background-color:
	border-width:
	border-style:
	border-color:
	color:
	line-height:
	arrow-type:
	text-align:
	text-decoration:
	opacity:
	z-index:
}
legend {
	top:
	left:
	width:
	height:
	padding:
	background-color:
	border-width:
	border-style:
	border-color:
	color:
	line-height:
	text-align:
	text-decoration:
	opacity:
	z-index:
}
label {
	top:
	left:
	width:
	height:
	padding:
	background-color:
	background-image:
	background-position:
	background-repeat:
	border-width:
	border-style:
	border-color:
	color:
	font-family:
	font-size:
	font-style:
	font-variant:
	font-weight:
	opacity:
	z-index:
}
